html{
    background-color: black;
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,38,64,1) 100%);
    margin: 0;
	color: white;
    padding: 0;
}
h1{
    padding-top: 100px;
    text-align: center;
}
a{
    color: wheat;
    padding-left: 25px;
}
header ul, header li {
	margin: 0;
	padding: 0;
}
header ul {
	background: gray;
	list-style: none;
	max-width: 2500px;
}
header li {
	float: left;
	position: relative;
}
header a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
header li:hover a {
	background: #3079e6;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
    width: 468px;
	visibility: hidden;
	z-index: 1;
}   
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
#submenu2 {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
    width: 468px;
	visibility: hidden;
	z-index: 1;
}   
li:hover ul#submenu2 {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu2 li {
	float: none;
	width: 100%;
}
#submenu2 a:hover {
	background: #DF4B05;
}
#submenu2 a {
	background-color:#000000;
}
.selection1{
	float: right;
	font-size: larger;
	margin: 37px 15px 0;
}
.selection2{
	float: left;
	font-size: larger;
	margin: 37px 0 0 -15px;
}
footer{
	text-align: center;
  	padding: 10px 0;
  	margin-top: 25px;
  	background-color: #000000a1;
}
.footer_links{
	text-align: center;
  	justify-content: space-evenly;
  	align-items: normal;
  	padding: 5px;
}
.footer_links a{
	text-decoration: none;
	color: white;
}
.footer_links h6{
	color: white; 
	font-size: 2.5px;
}	