body{
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(100, 100, 100));
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
	color: white;
    padding: 0;
	z-index: -1;
}
.html2{
	background-color: rgba(69, 69, 69, 0.5);
	width: 95%;
	height: 95%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
}
#smallbox {
    cursor: pointer;
}
.popsiclbar{
	display: flex;
	margin-top: -30px;
	position: fixed;
	height: 40px;
	width: 100%;
	animation: gradient 5s linear infinite;
	background: linear-gradient(90deg,rgba(177, 0, 254, 1), rgba(62, 1, 255, 1), rgba(71, 3, 12, 1));
	z-index: 1;
}
header{
	border: 2px solid white;
	display: block;
	position: fixed;
	justify-content: flex-end;
	background-color: #999999;
	width: 100%;
	height: 70px;
	z-index: 1;
}
header ul, header li {
	margin: 0;
	padding: 0;
}
header ul {
	background: gray;
	list-style: none;
}
header li {
	float: right;
	margin-left: auto;
	position: relative;
}
header a {
	background: #999999;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
header li:hover a {
	background: #666666;
}
.dropdowns{
	width: 300px;
}
#submenu, #submenu2, #submenu3{
	left: 0;	
	opacity: 0;
	top: 100px;
	position: absolute;
    width: 298px;
	z-index: 2;
	visibility: hidden;
}
#submenu li, #submenu2 li, #submenu3 li{	
	float: none;
	width: 100%;
}
#submenu a, #submenu2 a, #submenu3 a{
	background-color:#999999;
}
#submenu a:hover, #submenu2 a:hover, #submenu3 a:hover{
	background: #666666;
}  
li:hover ul#submenu, li:hover ul#submenu2, li:hover ul#submenu3{
	opacity: 1;
	top: 70px;	/*adjust this as per top nav padding top & bottom comes*/
	visibility: visible;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
.logo{
	float: left;
}
.logo img{
    width: 200px;
	margin-right: auto;
	position: relative;
}

h1{
    padding-top: 150px;
	margin-top: 29px;
    text-align: center;
}
dt a{
    color: wheat;
    padding-left: 50px;
}
.selection1{
	float: right;
	font-size: larger;
	margin: 120px 15px 5px 0;
}
.selection2{
	float: left;
	font-size: larger;
	margin: 120px 0 0 15px;
}
.container a{
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}
.container dl dt{
	margin: 20px 0 20px;
}
.faq {
	margin: 0 auto;
	padding: 4rem;
	width: 48rem;
}
.cs_main{
	text-align: center;
	font-size: 26px;
}
.cs_main h1{
	padding-top: 100px;
	font-size: 56px;
}
.favouritepictures_dl{
	margin: 0 100px 0 69px;
	background-color: #333333;
	padding: 25px 25px 25px 25px;
	border-radius: 25px;
	border: 5px white solid;
}
.reminder{
	height: 90px;
	width: 100%;
	border-radius: 10px;
	background-color: rgb(255, 69, 69);
}
.reminder h3{
	font-size: 30px;
	text-align: center;
}
footer{
	text-align: center;
  	padding: 10px 0;
  	margin-top: 125px;
  	background-color: #000000a1;
}
.footer_links{
	text-align: center;
  	justify-content: space-evenly;
  	align-items: normal;
  	padding: 5px;
}
.footer_links a{
	text-decoration: none;
	color: white;
}
.footer_links h6{
	color: white; 
	font-size: 2.5px;
}