html{
    background-color: black;
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(100, 100, 100));
    margin: 0;
	color: white;
    padding: 0;
}
h1{
    padding-top: 100px;
    text-align: center;
}
a{
    color: wheat;
    padding-left: 25px;
}
header ul, header li {
	margin: 0;
	padding: 0;
}
header ul {
	background: gray;
	list-style: none;
	max-width: 2222px;
}
header li {
	border-radius: 10px;	
	float: left;
	position: relative;
}
header a {
	border-radius: 10px;	
	background: #999999;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
header li:hover a {
	background: #666666;
} 
#submenu, #submenu2, #submenu3{
	left: 0;
	border-radius: 10px;	
	opacity: 0;
	position: absolute;
	top: 35px;
    width: 365px;
	border: 3.5px solid black;
	visibility: hidden;
	z-index: 1;
}
#submenu li, #submenu2 li, #submenu3 li{	
	float: none;
	width: 100%;
}
#submenu a, #submenu2 a, #submenu3 a{
	background-color:#999999;
}
#submenu a:hover, #submenu2 a:hover, #submenu3 a:hover{
	background: #666666;
}  
li:hover ul#submenu, li:hover ul#submenu2, li:hover ul#submenu3{
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
.selection1{
	float: right;
	font-size: larger;
	margin: 31px 15px 0;
}
.selection2{
	float: left;
	font-size: larger;
	margin: 31px 0 0 -15px;
}
.container a{
	font-size: 40px;
	font-weight: 600;
	text-decoration: none;
}
.container dl dt{
	margin: 20px 0 20px;
}
.faq {
	margin: 0 auto;
	padding: 4rem;
	width: 48rem;
}
  
.accordion {
	.accordion-item {
	  border-bottom: 1px solid lightgray;
	  button[aria-expanded='true'] {
		border-bottom: 1px solid lightblue;
	  }
	}
	button {
	  position: relative;
	  display: block;
	  text-align: left;
	  width: 100%;
	  padding: 1em 0;
	  color: white;
	  font-size: 1.15rem;
	  font-weight: 400;
	  border: none;
	  background: none;
	  outline: none;
	  &:hover, &:focus {
		cursor: pointer;
		transition: .33s;
		color: lightblue;
		&::after {
		  cursor: pointer;
		  color: lightblue;
		  border: 1px solid lightblue;
		}
	  }
	  .accordion-title {
		padding: 1em 1.5em 1em 0;
	  }
	  .icon {
		display: inline-block;
		position: absolute;
		top: 18px;
		right: 0;
		width: 22px;
		height: 22px;
		border: 1px solid;
		border-radius: 22px;
		&::before {
		  display: block;
		  position: absolute;
		  content: '';
		  top: 9px;
		  left: 5px;
		  width: 10px;
		  height: 2px;
		  background: currentColor;
		}
		&::after {
		  display: block;
		  position: absolute;
		  content: '';
		  top: 5px;
		  left: 9px;
		  width: 2px;
		  height: 10px;
		  background: currentColor;
		}
	  }
	}
	button[aria-expanded='true'] {
	  color: lightblue;
	  .icon {
		&::after {
		  width: 0;
		}
	  }
	  + .accordion-content {
		opacity: 1;
		max-height: 9em;
		transition: all 200ms linear;
		will-change: opacity, max-height;
	  }
	}
	.accordion-content {
	  opacity: 0;
	  max-height: 0;
	  overflow: hidden;
	  transition: opacity 200ms linear, max-height 200ms linear;
	  will-change: opacity, max-height;
	  p {
		font-size: 1rem;
		font-weight: 300;
		margin: 2em 0;
	  }
	}
  }
footer{
	text-align: center;
  	padding: 10px 0;
  	margin-top: 25px;
  	background-color: #000000a1;
}
.footer_links{
	text-align: center;
  	justify-content: space-evenly;
  	align-items: normal;
  	padding: 5px;
}
.footer_links a{
	text-decoration: none;
	color: white;
}
.footer_links h6{
	color: white; 
	font-size: 2.5px;
}	