html{
	background-color: rgb(100, 100, 100);
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
	color: white;
    padding: 0;
}
.html2{
	background-color: rgba(69, 69, 69, 0.5);
	width: 95%;
	height: 95%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
#smallbox {
    cursor: pointer;
}
iframe{
    margin: 0 auto; 
    display: block;
	border: 10px solid white;
	border-radius: 30px;
}
.prvr{
	padding-top: 100px;
	font-size: 42px;
	-webkit-text-stroke: 2.5px black;
	padding-bottom: 25px;
    text-align: center;
    color: rgb(169, 169, 169s);
}
header ul, header li {
	margin: 0;
	padding: 0;
}
header ul {
	background: gray;
	list-style: none;
	max-width: 2222px;
}
header li {
	max-width: 2000px;
	float: left;
	position: relative;
	width: 16.3%; 
	border: 3.5px solid black;
}
header a {
	background: #999999;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
header li:hover a {
	background: #666666;
} 
#submenu, #submenu2, #submenu3{
	left: 0;	
	opacity: 0;
	position: absolute;
	top: 35px;
    width: 301px;
	border: 2.5px solid black;
	visibility: hidden;
	z-index: 1;
}
#submenu li, #submenu2 li, #submenu3 li{	
	float: none;
	width: 100%;
}
#submenu a, #submenu2 a, #submenu3 a{
	background-color:#999999;
}
#submenu a:hover, #submenu2 a:hover, #submenu3 a:hover{
	background: #666666;
}  
li:hover ul#submenu, li:hover ul#submenu2, li:hover ul#submenu3{
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
.randomstuff{
	height: 100px;
	width: 690px;
	border: 10px solid rgba(0, 0, 0, 0.69);
	border-radius: 50px;
	margin: 70px auto;
	transition: .34s;
	background-color: rgba(182, 171, 171, 0.69);
	padding: 10px 0 100px;
	text-align: center;
}
.randomstuff a{
	color: white;
	display: inline-block;
	font-size: 50px;
}
.randomstuff dl{
	margin: 10px 10px 0 10px;
}
.randomstuff dl dt a{
	font-size: 22px;
	color: wheat;
}
.randomstuff:hover{
	width: 715px;
}
.github{
	margin: 75px 0 75px auto;
	border: 6.9px solid rgb(0, 0, 0, 0.69);
	border-radius: 50px;
	background-color: rgba(128, 128, 128, 0.69);
}
.github h1, h2{
	text-align: center;
	font-size: 30px;
	color: wheat;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.github h2 a{
	text-align: center;
	font-size: 30px;
	color: wheat;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.collectionstxt, .buttons h3, .youtubevideos a{
	font-size: xx-large;
	text-align: center;
}
.buttons{
	display: flex;
	margin-bottom: 50px;
}
.youtubevideos, .randomvideos, .favouritepictures{
	height: 500px;
	width: 375px;
	border: 10px solid rgba(0, 0, 0, 0.69);
	border-radius: 50px;
	margin: 0 auto;
	transition: .34s;
	background-color: #666666;
}
.youtubevideos:hover, .randomvideos:hover, .favouritepictures:hover{
	width: 400px;
}
.buttons dl{
	margin: 0 10px 0 10px;
}
.buttons dl a{
	font-size: 29px;
	color: wheat;
}
.youtubevideos h3 a{
	color: crimson;
	text-decoration: none;
}
.social_buttons{
	display: flex;
	margin: 150px 0 100px;
}
.socials h1{
	font-size: 55px;
	text-align: center;
	margin-bottom: 100px;
}
/* .social_buttons dl dt{
	text-align: center;
	margin: 30px 0 30px;
} */
.social_buttons p{
	color: white;
	margin-top: 25px;
	position: relative;
	margin-bottom: 100px;
	text-decoration: none;
	-webkit-text-stroke: 1.5px rgb(0, 0, 0);
	font-size: 35px;
	font-weight: 690;
}
.social_buttons img{
	position: relative;
	padding: 70px 0 70px;
	margin-top: 25px;
	width: 69px;
}
.social_button1, .social_button2, .social_button3, .social_button4, .social_button5, .social_button6{
	text-align: center;
	margin: 0 15px 0 15px;
	position: relative;
	height: 150px;
	width: 300px;
	border-radius: 50px;
	transition: .34s;
	border: 5px rgba(0, 0, 0, 0.69) solid;
}
.social_button1:hover, .social_button2:hover, .social_button3:hover, .social_button4:hover, .social_button5:hover, .social_button6:hover{
	width: 320px;
}
footer{
	text-align: center;
  	padding: 10px 0;
  	margin-top: 25px;
  	background-color: #000000a1;
}
.footer_links{
	text-align: center;
  	justify-content: space-evenly;
  	align-items: normal;
  	padding: 5px;
}
.footer_links a{
	text-decoration: none;
	color: white;
}
.footer_links h6{
	color: white; 
	font-size: 2.5px;
}
.reminder{
	height: 90px;
	width: 100%;
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(255,156,33,1) 25%, rgba(0,255,248,1) 55%, rgba(0,255,0,1) 90%);
}
.reminder h3{
	font-size: 30px;
	-webkit-text-stroke: black 1.5px;
	text-align: center;
}
@media screen and (max-width: 1850px) {
	header ul, li{
		max-width: 1580px;
	}
	header li{
		width: 15.8%; 
	}
	#submenu1, #submenu2, #submenu3{
		width: 250px;
	}
}
@media screen and (max-width: 850px) {
	header ul, li{
		max-width: 1200px;
	}
	header li{
		width: 15.6%; 
	}
	.reminder h3{
		font-size: 25px;
	}
	#submenu, #submenu2, #submenu3{
		width: 150px;
	}
}